.Home {
  @apply w-screen h-screen bg-no-repeat  bg-left-bottom bg-cover;
  //overflow-x: hidden;
  background-image: url("https://w.forfun.com/fetch/8c/8c79d9da358b5156576ec3e284ae08d1.jpeg");

  .container {
    @apply flex w-11/12 mx-auto h-dvh  py-5;

    > article {
      @apply flex flex-col justify-items-start  justify-center w-full h-5/6 gap-5;

      > h2 {
        @apply text-5xl  leading-tight text-white;
        font-family: "Poppins", sans-serif;
      }

      > p {
        @apply text-2xl w-2/3 leading-relaxed text-white;
      }

      a {
        @apply text-white border border-white inline-block px-10 py-3 rounded  my-3.5 transition-all duration-300 ease-in  hover:text-orange-500 hover:border-orange-500 hover:bg-white;
        width: fit-content;
      }
    }
  }

  .quote {
    @apply h-96 flex flex-col justify-center w-screen bg-black;
    > section {
      @apply flex w-4/5 mx-auto gap-10 items-center justify-between h-5/6;

      img {
        @apply w-1/4;
      }

      > article {
        @apply text-white w-2/3;
        > p {
          @apply text-xl   text-white;
          letter-spacing: 1px;
          line-height: 1.6;
        }
      }
    }
  }

  .departments {
    @apply flex flex-col justify-center w-screen py-10 bg-black;
    overflow-x: hidden;

    > section {
      @apply flex flex-col gap-10 w-4/5 mx-auto bg-black;

      h3 {
        @apply text-5xl text-white;
      }

      .line {
        @apply bg-orange-400 h-1 w-1/6;
      }

      > aside {
        @apply py-1;

        > p {
          @apply text-xl;

          line-height: 1.6;
          letter-spacing: 1px;
        }
      }
    }
  }

  .departments_card {
    @apply flex flex-col justify-center w-screen bg-black;

    > section {
      @apply flex  gap-10 w-11/12 mx-auto justify-between;
      > article {
        @apply flex items-end border-white border bg-blue-200;
        height: 600px;
        width: 30%;

        > aside {
          @apply bg-white w-screen py-1.5 px-2.5 text-black h-24 flex flex-col gap-5 overflow-hidden transition-all duration-300 ease-in hover:h-40;

          > h4 {
            @apply text-black mx-0 text-2xl pt-1.5;
          }

          > p {
            @apply text-black mx-0 text-xs;
          }

          > a {
            @apply px-2.5 py-1.5 border-b-2 border-orange-500 text-orange-500 uppercase text-start;
            width: fit-content;
          }
        }
      }
    }
  }


  .slider_title {
    @apply w-screen flex items-end h-72 bg-black;

    > section {
      @apply w-11/12 mx-auto  flex flex-col gap-4;

      h3 {
        @apply text-5xl
      }

      .line {
        @apply bg-orange-400 h-1 w-1/6;
      }

      article {
        @apply py-3;
        p {
          @apply text-xl w-2/3
        }
      }
    }
  }


  .big_container {
    @apply bg-black w-screen  bg-black h-svh h-auto;

    > section {
      @apply w-5/6 mx-auto flex flex-col gap-x-4 bg-black py-40 ;

      background-color: #111112;

      div {
        @apply flex gap-10 items-center justify-center w-5/6 mx-auto h-5/6 ;

        img {
          width: 522px;
          height: 695px;
        }

        article {
          @apply flex flex-col gap-10;
          h3 {
            @apply text-5xl leading-tight text-white;
          }

          .line {
            @apply bg-orange-400 h-1 w-1/6;
          }

          a {
            @apply flex items-center gap-4 h-24 capitalize hover:text-orange-500 hover:border-orange-400;

            img {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
    }
  }

  .contacts_form {
    @apply w-screen h-auto py-40;

    section {
      @apply w-5/6 mx-auto flex flex-col gap-4 bg-black ;

      div {
        @apply flex flex-col w-5/6 mx-auto gap-6 mb-10;
        h2 {
          @apply text-4xl leading-tight text-white ;
        }

        p {
          @apply text-xl leading-tight text-white w-5/6  ;
        }

        .line {
          @apply bg-orange-400 h-1 w-1/6;
        }
      }

      form {
        @apply flex flex-col flex-wrap justify-between gap-10  w-5/6 mx-auto;

        label {
          @apply w-full  ;

          h4 {
            @apply text-white text-2xl;
          }

          input {
            @apply w-full py-5 outline-none bg-transparent border-b border-white focus:border-orange-500 focus:text-orange-500;
          }
        }

        button{
          @apply w-full  bg-orange-400 py-3 text-xl;
        }
      }
    }


  }
}
