.Home {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > .container {
    padding: 100px 0 0;
    width: 90%;
    margin: 0 auto;
    height: 500px;
    display: flex;
    justify-content: space-between;


    > article {
      > h2 {
        font-size: 2.2rem;
        margin-bottom: 20px;
        line-height: 1.6;

      }

      > p {
        width: 800px;
        font-size: 24px;
        line-height: 1.5;
        text-align: start;
      }
    }

    .card_container {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

    }


  }

}