.Projects {
  @apply flex justify-center items-center flex-col gap-10 min-h-96 -mt-5;

  .header {
    @apply w-screen flex justify-center items-center bg-black h-svh px-10;

    > div {
      @apply flex flex-col items-center justify-center  overflow-hidden;

      > h2 {
        @apply text-orange-500 text-5xl  my-3.5;
      }

      > p {
        @apply text-xl max-w-5xl text-center  font-light w-3/4;
        line-height: 1.6;
      }
    }
  }

  .projects_cont {
    @apply flex flex-col gap-10  w-full  ;

    div {
      @apply w-11/12 mx-auto  flex flex-col gap-4 ;

      h4 {
        @apply text-3xl;
      }

      p {
        @apply text-xl max-w-5xl text-white/75;
        line-height: 1.8;
        letter-spacing: 1px;
      }
    }

  }

}